<a href="https://colab.research.google.com/github/KuJoJot4ro/College-Python/blob/main/Expereiment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Write a Python program to perform the following operation on Sets.Create Set, Access Set, Update Set, Delete SetWrite a Python program to perform following operations on set: intersection of sets, union of sets, set difference, symmetric difference, clear a set.Python program to create a set, add member(s) in a set and remove one item from the set.**

In [1]:
set1 = {1, 2, 3, 4, 5}
print("Created Set:", set1)
print("Accessing Set Elements:")
for item in set1:
    print(item)
set1.add(6)
set1.update([7, 8, 9])
print("Updated Set:", set1)
set1.remove(3)
set1.discard(10)
print("Set after deletion:", set1)
set2 = {4, 5, 6, 7, 8}
print("Intersection:", set1 & set2)
print("Union:", set1 | set2)
print("Set Difference:", set1 - set2)
print("Symmetric Difference:", set1 ^ set2)
set1.clear()
print("Set after clearing:", set1)
set3 = {"apple", "banana", "cherry"}
set3.add("orange")
set3.update(["grape", "mango"])
set3.remove("banana")
print("Final Set:", set3)

Created Set: {1, 2, 3, 4, 5}
Accessing Set Elements:
1
2
3
4
5
Updated Set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set after deletion: {1, 2, 4, 5, 6, 7, 8, 9}
Intersection: {4, 5, 6, 7, 8}
Union: {1, 2, 4, 5, 6, 7, 8, 9}
Set Difference: {1, 2, 9}
Symmetric Difference: {1, 2, 9}
Set after clearing: set()
Final Set: {'orange', 'grape', 'cherry', 'apple', 'mango'}

# **2. Write a Python program to find the elements in a given set that are not in another set**

In [2]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
difference = set1 - set2
print("Elements in set1 but not in set2:",difference)

Elements in set1 but not in set2: {1, 2, 3}

# **3. Write a Python program to Convert String to Set.**

In [13]:
string1="hello world"
set1=set(string1)
print("Set from String:",set1)

Set from String: {'e', ' ', 'h', 'o', 'd', 'l', 'w', 'r'}

# **4. Write a Python program to Check if two sets have any elements in common. If yes, display the common elements**

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
common_elements = set1 & set2
if common_elements:
    print("Common elements:",common_elements)
else:
    print("No common elements found.")

Common elements: {4, 5}