<a href="https://colab.research.google.com/github/KuJoJot4ro/College-Python/blob/main/Expeiment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Write Python program to perform the following operation on Dictionary.Create Dictionary, Access Dictionary, Update Dictionary, Delete Dictionary. Write a Python program to concatenate dictionaries to create a new one.Write a Python program to print all unique values in a dictionary.**

In [1]:
dict1 = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print("Created Dictionary:", dict1)
print("Accessing Elements:")
print("Name:", dict1['name'])
print("Age:", dict1.get('age'))
dict1['age'] = 26
print("Updated Dictionary:", dict1)
dict1['profession'] = 'Engineer'
print("Dictionary after adding new key:", dict1)
del dict1['city']
print("Dictionary after deletion:", dict1)
dict1.clear()
print("Dictionary after clearing:", dict1)
dict2 = {'A': 1, 'B': 2}
dict3 = {'C': 3, 'D': 4}
concatenated_dict = {**dict2, **dict3}
print("Concatenated Dictionary:", concatenated_dict)
dict4 = {'x': 10, 'y': 20, 'z': 10, 'w': 30}
unique_values = set(dict4.values())
print("Unique Values in Dictionary:", unique_values)

Created Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}
Accessing Elements:
Name: Alice
Age: 25
Updated Dictionary: {'name': 'Alice', 'age': 26, 'city': 'New York'}
Dictionary after adding new key: {'name': 'Alice', 'age': 26, 'city': 'New York', 'profession': 'Engineer'}
Dictionary after deletion: {'name': 'Alice', 'age': 26, 'profession': 'Engineer'}
Dictionary after clearing: {}
Concatenated Dictionary: {'A': 1, 'B': 2, 'C': 3, 'D': 4}
Unique Values in Dictionary: {10, 20, 30}

# **2. Write a Python program to sum all the items in a dictionary.**

In [4]:
dict1= {'a':5,'b':10,'c':15}
total_sum=sum(dict1.values())
print("Sum of all items in the dictionary:",total_sum)

Sum of all items in the dictionary: 30

# **3. Write a Python program to Delete a list of keys from a dictionary**

In [5]:
dict1={'a':5,'b':10,'c':15,'d':20}
removed_keys=['a','c']
for key in removed_keys:
    dict1.pop(key, None)
print("Dictionary after deleting keys:", dict1)

Dictionary after deleting keys: {'b': 10, 'd': 20}

# **4. Write a Python script to sort (ascending and descending) a dictionary by value.**

In [6]:
dict1={'a':5,'b':10,'c':15,'d':20}
sorted_asc=dict(sorted(dict1.items(),key=lambda item:item[1]))
print("Dictionary sorted in ascending order:",sorted_asc)
sorted_desc=dict(sorted(dict1.items(),key=lambda item:item[1],reverse=True))
print("Dictionary sorted in descending order:",sorted_desc)

Dictionary sorted in ascending order: {'a': 5, 'b': 10, 'c': 15, 'd': 20}
Dictionary sorted in descending order: {'d': 20, 'c': 15, 'b': 10, 'a': 5}

# **5. Write a Python script to concatenate the following dictionaries to create a new one.a. Sample Dictionary:b. dic1 = {1:10, 2:20}c. dic2 = {3:30, 4:40}d. dic3 = {5:50,6:60}**

In [7]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
concatenated_dict = {**dic1,**dic2,**dic3}
print("Concatenated Dictionary:",concatenated_dict)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# **6. Write a Python program to combine two dictionary adding values for commonkeys.a. d1 = {'a': 100, 'b': 200, 'c':300}b. d2 = {'a': 300, 'b': 200, 'd':400}**

In [8]:
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'d':400}
d_combined={key: d1.get(key, 0) + d2.get(key, 0) for key in set(d1) | set(d2)}
print("Combined Dictionary:",d_combined)

Combined Dictionary: {'b': 400, 'a': 400, 'c': 300, 'd': 400}

# **7. Write a Python program to print all unique values in a dictionary.a. Sample Data: [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},{"VII":"S005"}, {"V":"S009"}, {"VIII":"S007"}]**

In [9]:
sample_data=[{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
               {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]
unique_values = set(value for d in sample_data for value in d.values())
print("Unique Values:", unique_values)

Unique Values: {'S007', 'S002', 'S005', 'S001', 'S009'}

# **8. Write a Python program to find the highest 3 values in a dictionary.**

In [10]:
dict1={'a':10,'b':50,'c':30,'d':70,'e':90,'f':20}
top_3_values=sorted(dict1.values(),reverse=True)[:3]
print("Highest 3 values:",top_3_values)

Highest 3 values: [90, 70, 50]